#div1{
    border:3px solid black;
    height: 700px;
    width: 800px;
}
.d1{
    /* border:1px  solid red; */
}
.p1{
    display: inline-block;
    height: 200px;
    width: 100px;
    
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom:10px ;
}
.p2{
    display: inline-block;
    height: 200px;
    width: 100px;
   
    margin-left: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.d2{
    
    margin-left: 40%;
    height: 200px;
    width: 100px;
}

.p3{
    
    display: inline-block;
    height: 200px;
    width: 100px;
    margin-left: 30px;
}
.p4{
   
    display: inline-block;
    height: 200px;
    width: 100px;
    margin-left: 60%;
}
.main{
    border: 1px;
    height: 600px;
    width: 500px;
}
#id1{
    border: 10px solid orangered;
    height: 500px;
    width: 400px;
    background: orangered;
}
#id2{
    border: 10px solid green;
    height: 400px;
    width: 300px;
    margin-left: 40px;
    margin-right: 30px;
    margin-top: 40px;
    margin-bottom: 50px;
    background: green;
}
#id3{
    border: 10px solid yellow;
    height: 300px;
    width: 200px;
    margin-left: 30px;
    margin-top: 40px;
    background: yellow;
}
#id4{
    border: 10px solid red;
    height: 200px;
    width: 100px;
    margin-left: 40px;
    margin-top: 40px;
    background: red;
}
.s1{
    border: 15px solid black;
    border-radius: 15px;
    height: 330px;
    width: 110px;
    background: black;
}
.red{
    border: 5px solid red;
    height: 100px;
    width: 100;
    border-radius: 50px;
    background: red;
}
.line2{
    /* border: 1px solid black; */
}
.yellow{
    border: 5px solid yellow;
    height: 100px;
    width: 100;
    border-radius: 50px;
    background: yellow;
}
.green{
    border: 5px solid green;
    height: 100px;
    width: 100;
    border-radius: 50px;
    background: green;
}

#un1{
    border: 1px solid black;
    height: 800px;
    width: 1000px;
    margin-left: 80px;
    background-image: url("https://t4.ftcdn.net/jpg/02/43/75/73/360_F_243757367_gBpS6R5c8DB7pL5gw9gi9KXlzFfbdZOA.jpg");
    
}

#un2{
    border: 1px solid grey;
    border-radius:80%;
    margin-left: 25px;
    margin-top: 30px;
    height: 700px;
    width:950px ;
    
}
#un3{
    border: 1px solid grey;
    border-radius:80%;
    height: 600px;
    width:800px ;
    margin-left: 70px;
    margin-top: 40px;
}
#un4{
    border: 1px solid grey;
    border-radius:80%;
    height: 500px;
    width:700px ;
    margin-top: 50px;
    margin-left: 50px;
}
#un5{
    border: 1px solid grey;
    border-radius:80%;
    height: 400px;
    width:600px ;
    margin-top: 50px;
    margin-left: 50px;
}
#un6{
    border: 1px solid grey;
    border-radius:80%;
    height: 300px;
    width:500px ;
    margin-top: 50px;
    margin-left: 50px;
}
#un7{
    border: 1px solid grey;
    border-radius:80%;
    height: 200px;
    width:300px ;
    margin-top: 50px;
    margin-left: 100px;
    background: rgba(226, 63, 4, 0.986);
}
#sun{
    border: 1px solid black;
    border-radius:80%;
    height: 200px;
    width:300px ;
    margin-bottom: 70%;
    
}
#mercury{
    height: 30px;
    width: 50px;
    margin-left: 25%;
    border: 1px solid black;
    border-radius: 100px;
}
#venus{
    height: 30px;
    width: 50px;
    margin-left: 25%;
    border: 1px solid black;
    border-radius: 100px;
}
#earth{
    height: 30px;
    width: 50px;
    margin-left: 25%;
    border: 1px solid black;
    border-radius: 100px;
}
#mars{
    height: 30px;
    width: 50px;
    margin-left: 25%;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 100px;
}
#jupiter{
    height: 30px;
    width: 50px;
    margin-top: 20px;
    margin-left: 25%;
    border: 1px solid black;
    border-radius: 100px;
}
#universe{
    border: 1px solid black;
    height: 800px;
    width: 1000px;
}